.card {
    font-size: 14px;
    border: 1px solid #pallet[light-grey];
    border-radius: 17px;
    margin-bottom: 17px;
    position: relative;
    overflow: hidden;

    @media (min-width: 992px) {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

.card-wrapper {
    @media (max-width: 959px) {
        &:nth-child(odd) {
            padding-right: 9px;
        }
    
        &:nth-child(even) {
            padding-left: 9px;
        }
    }
}

.card-photo {
    padding-top: 132%;
    background: #pallet[placeholder];

    img {
        display: block;
        height: auto;
        left: 0;
        max-width: 100%;
        position: absolute;
        top: 0;
        touch-action: pan-y;
        -ms-touch-action: pan-y;
        width: 100%;
        -webkit-touch-callout: none;
        user-select: none;
    }
}

.card-info {
    padding: 12px 12px 7px;

    @media (min-width: 992px) {
        font-size: 16px;
        padding: 16px 16px 24px;
    }
}

.card-info-text {
    font-weight: #font-weights[bold];
    
    @media (min-width: 992px) {
        font-size: 16px;
    }
}

.card-info-status {
    width: 9.3px;
    height: 9.3px;
    border-radius: 50%;
    background-color: #pallet[success];

    @media (min-width: 992px) {
        width: 12px;
        height: 12px;
    }
}

.card-over-photo-info {
    position: absolute;
    bottom: 70px;
    left: 12px;

    @media (min-width: 576px) {
        left: 14px;
    }

    @media (min-width: 992px) {
        bottom: 110px;
    }
    
}