@charset "UTF-8";
.icon {
  width: 24px;
  height: 24px;
  --primary-icon-color: #000;
}
.icon:hover,
.icon:active,
.icon:focus,
.icon:hover svg path,
.icon:active svg path,
.icon:focus svg path {
  --primary-icon-color: #4A69BD;
}
.icon-lg {
  width: 22px;
  height: 22px;
}
@media (min-width: 992px) {
  .icon-lg {
    width: 34px;
    height: 34px;
  }
}
.t-light {
  color: #5A5A5A !important;
}
.t-grey {
  color: #808080 !important;
}
.t-sm {
  font-size: 12px !important;
}
.bg-light {
  background-color: #E4E4E4 !important;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #000;
}
.header {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .header {
    padding-top: 26px;
    padding-bottom: 16px;
  }
}
.card {
  font-size: 14px;
  border: 1px solid #E4E4E4;
  border-radius: 17px;
  margin-bottom: 17px;
}
@media (min-width: 992px) {
  .card {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 959px) {
  .card-wrapper:nth-child(odd) {
    padding-right: 9px;
  }
  .card-wrapper:nth-child(even) {
    padding-left: 9px;
  }
}
.card-photo {
  width: auto;
  height: 158px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}
@media (min-width: 576px) {
  .card-photo {
    height: 253px;
  }
}
.card-info {
  padding: 12px 12px 7px;
}
@media (min-width: 992px) {
  .card-info {
    font-size: 16px;
    padding: 16px 16px 24px;
  }
}
.card-info-text {
  font-weight: 700;
}
@media (min-width: 992px) {
  .card-info-text {
    font-size: 16px;
  }
}
.card-info-status {
  width: 9.3px;
  height: 9.3px;
  border-radius: 50%;
  background-color: #7CBC00;
}
@media (min-width: 992px) {
  .card-info-status {
    width: 12px;
    height: 12px;
  }
}
.card-over-photo-info {
  position: absolute;
  top: calc(158px - 30px);
  left: 12px;
}
@media (min-width: 576px) {
  .card-over-photo-info {
    top: 72%;
    left: 14px;
  }
}
@media (min-width: 992px) {
  .card-over-photo-info {
    top: 59%;
  }
}
.btn-primary {
  color: #ffffff;
  background-color: #4A69BD;
  border-color: #4A69BD;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #000;
  border-color: #000;
}
input,
select,
.btn,
input:hover,
select:hover,
.btn:hover,
input:active,
select:active,
.btn:active,
input:focus,
select:focus,
.btn:focus,
input:visited,
select:visited,
.btn:visited {
  outline: none !important;
}
input:hover,
select:hover,
input:active,
select:active,
input:focus,
select:focus {
  border-color: #4A69BD;
}
.badge {
  display: flex;
  align-items: center;
  padding: 0;
}
.badge span {
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 992px) {
  .badge span {
    font-size: 20px;
  }
}
